
<div class="html-replace" data-target="config-container">
  <div class="display" id="game_name">
    <span>Name:</span>
    <input type='text' class='game_input' value='Noname'>
    <br/>
</div>

  {% for i, p in enumerate(config.pieces) %}

  <div class="brake"></div>
  <input type="button" class="floating" value="Piece '{% raw p["name"] %}':"/>
    <div class="display" style="font-size: 9pt; color: rgb(255, 0, 0);">
      Texture: <textarea rows="1">{% raw p["texture"] %}</textarea>
       , Width: <textarea rows="1" style="width: 20px;">{% raw p["width"] %}</textarea>
      , height: <textarea rows="1" style="width: 20px;">{% raw p["height"] %}</textarea>

      <input type="button" class="floating" value="Coordinates →"/>
      <div style="display:none;">

    {% for y in range (-10, 10) %}

        <div style="clear: both;"></div>

      {% if y in p["squares"] %}

        {% for x in range (-8, 30) %}
          {% if x in p["squares"][y] and p["squares"][y][x] == i %}
        <div class="square" style="background-color: rgb(51, 51, 221);"></div>
          {% else %}
        <div class="square" style="background-color: rgb(255, 68, 51);"></div>
          {% end %}
        {% end %}

      {% else %}
        {% for x in range (-8, 30) %}
        <div class="square" style="background-color: rgb(255, 68, 51);"></div>
        {% end %}
      {% end %}
    {% end %}

      </div>
    </div>
  {% end %}
    <div class="brake"></div>
    <input type="button" class="floating" value="Music:"/>
    <div class="display" style="font-size: 9pt; color: rgb(255, 0, 0);">

  {% for a in config.audio %}
      <div style="float: left; position: relative;">
        <textarea rows="1" cols="22">{% raw a[0] %}</textarea>
        <div style="position: absolute; top: 2px; right: 5px;">Path</div>
      </div>

      <div style="float: left; position: relative;">
      <textarea rows="1" cols="22">{% raw a[1] %}</textarea>
        <div style="position: absolute; top: 2px; right: 5px;">Output Filter</div>
      </div>
    <br/>
    {% if 2 in a %}
      , Loop Entry Bar <textarea rows="1" style="width: 30px; height: 17px;"></textarea>
    <br/>
       and Measure Leng<textarea rows="1" style="width: 30px; height: 17px;"></textarea>
    <br/>
    {% end %}
  {% end %}
    </div>
    <div class="brake"></div>
    <input type="button" class="floating" value="Textures:"/>
    <div id="textures" class="hidden">
      <textarea rows="1" style="width: 96%; height: 17px;"></textarea>
      <textarea rows="1" style="width: 96%; height: 17px;"></textarea>
      <textarea rows="1" style="width: 96%; height: 17px;"></textarea>
    </div>
    <div class="brake"></div>
    <input type="button" class="floating" value="Misc"/>
    <div id="start-position" class="hidden">
      <textarea rows="1" style="width: 30px; height: 17px;"></textarea>
      <textarea rows="1" style="width: 30px; height: 17px;"></textarea>
      <textarea rows="1" style="width: 30px; height: 17px;"></textarea>
    </div>
  </div>
</div>
