
<div class="html-replace" data-target="config-container">
  <div class="display" id="game_name">
    <span>Name:</span>
    <input type='text' class='game_input' value='Noname'>
    <br/>
</div>

  {% for i, p in enumerate(config.pieces) %}

  <div class="brake"></div>
  <input type="button" class="floating" value="Piece '{% raw p["name"] %}':"/>
    <div class="display">
      <div style="float: left; position: relative;">
        <textarea rows="1">{% raw p["texture"] %}</textarea>
        <div class="text_label">Texture</div> 
      </div>
      <div style="float: left; position: relative;">
        <textarea rows="1" style="width: 70px;">{% raw p["width"] %}</textarea>
        <div class="text_label">Width</div> 
      </div>
      <div style="float: left; position: relative;">
       <textarea rows="1" style="width: 70px;">{% raw p["height"] %}</textarea>
        <div class="text_label">Height</div> 
      </div>

      <input type="button" class="floating" value="Coordinates →"/>
      <div style="display:none;">

    {% for y in range (-10, 10) %}

        <div style="clear: both;"></div>

      {% if y in p["squares"] %}

        {% for x in range (-8, 30) %}
          {% if x in p["squares"][y] and p["squares"][y][x] == i %}
        <div class="square" style="background-color: rgb(51, 51, 221);"></div>
          {% else %}
        <div class="square" style="background-color: rgb(255, 68, 51);"></div>
          {% end %}
        {% end %}

      {% else %}
        {% for x in range (-8, 30) %}
        <div class="square" style="background-color: rgb(255, 68, 51);"></div>
        {% end %}
      {% end %}
    {% end %}

      </div>
    </div>
  {% end %}
    <div class="brake"></div>
    <input type="button" class="floating" value="Music:"/>
    <div class="display">

  {% for a in config.audio %}
      <div style="float: left; position: relative;">
        <textarea rows="1" cols="20">{% raw a[0] %}</textarea>
        <div class="text_label">Path</div>
      </div>

      <div style="float: left; position: relative;">
      <textarea rows="1" cols="23">{% raw a[1] %}</textarea>
        <div class="text_label">Output Filter</div>
      </div>
    <br/>
    {% if len(a) > 4 %}
      <div style="float: left; margin-left: 20px; position: relative;">
        <textarea rows="1" cols="14">{% raw a[3] %}</textarea>
        <div class="text_label">Entry Bar</div>
      </div>
      <div style="float: left; position: relative;">
        <textarea rows="1" cols="14">{% raw a[4] %}</textarea>
        <div class="text_label">Measure Length</div>
      </div>
    {% end %}
    <br style="clear:both;"/>
  {% end %}
    </div>
    <div class="brake"></div>
    <input type="button" class="floating" value="Textures:"/>
  {% for t in config.textures %}
    <textarea rows="1" cols="14">{% raw t %}</textarea>
  {% end %}
    <div class="brake"></div>
    <input type="button" class="floating" value="Misc"/>
    <div id="start-position" class="hidden">
      <textarea rows="1" style="width: 30px; height: 17px;"></textarea>
      <textarea rows="1" style="width: 30px; height: 17px;"></textarea>
      <textarea rows="1" style="width: 30px; height: 17px;"></textarea>
    </div>
  </div>
</div>
